.tablist {
    list-style: none;
    padding-left: 0;
}

.tablist li {
    display: inline-block;
    cursor: pointer;
    font-size: 1.4em;
    padding: 0.5em;
}

.tablist li.selected {
    color: white;
    background: black;
}

.tab.hidden {
    display: none;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(359deg);
    }
}

@-webkit-keyframes spin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(359deg);
    }
}

.spinner {
    display: inline-block;
    background: url("./spinner.png");
    width: 26px;
    height: 26px;
    animation: spin 1s linear infinite;
}
